body{
  background-color: #989898;

}

canvas {
  background: #000000;
  position: relative;
  display: block;
  margin: auto;


}


.tetris{
  position: absolute;
  top: 40px;
  left: 424px;
  width: 200px;
  height: 55px;

}

.scores{
  position: absolute;
  top: 128px;
  left: 424px;
  color: gray;
  width: 210px;
  max-height: 212px;
  overflow: hidden;

}

.scores h3{
  text-align: center;
  margin: 0;
}

#scoreBoard{
  margin: 5px 0;
  padding: 0 22px;
  list-style: none;
}

#scoreBoard li {
  display: flex;
  justify-content: space-between;
}

#highScore{
  color: white;
  position: absolute;
  top: 200px;
  left: 740px;
  width: 200px;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;

}

#highScore #name {
  text-align: center;
}

#highScore #submit {
  margin-top: 5px;
}

.instructions{
  position: absolute;
  top: 430px;
  left: 424px;
  color: gray;
  text-align: center;
  width: 210px;
}

.contact{
  color: black;
  align-items: center;
  padding-top: 10px;
  width: 250px;
  margin:auto;
  text-align: center;
  font-weight: bold;
}
.icons{
  color: black;
  list-style: none;
  font-size: 26px;
  display: flex;
  padding: 5px; 0;
  width: 150px;
  margin:auto;
  display: flex;
  justify-content:space-between;
}

a {
  color: black;
  text-decoration: none;
}

a:hover{
  color: #606060;

}
